html, 
title{
    border-style: solid;
    border-width: 5px;
    border-color: lemonchiffon;
    font-size: medium;
    
}
* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
}

body {
    background: rgb(63, 8, 110);
    background-image: url("https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-size: 64px;
}

span.a {
    display: fixed;
    bottom: 0pt;
    right: 0pt;
    width: 64px;
    height: 64px;
    padding: 5px;
}
