:root {
    --background: AF69EE;
}

html, 
title{
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    font-size: medium;
    
}
.p1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;

}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCPsUY4AMdvqqHHqd-gVqdNYQsOgEIETXJWCeW2FxdOuNx2ax5MJHtXPMdXm0:https://cdn-icons-png.flaticon.com/512/109/109617.png&s");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}

