html, 
title{
    border-style: solid;
    border-width: 10px;
    border-color: lemonchiffon;
    font-size: medium;
    
}
.p1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;

}

body {
    background: plum;
    background-image: url("https://w7.pngwing.com/pngs/492/969/png-transparent-crocs-clog-shoe-sandal-footwear-sandal-child-fashion-outdoor-shoe.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}

