:root {
    --background: FFFFFF;
}

html,
title{
    border-style: double;
    border-radius: 2px;
    border-color: blueviolet;
    font-size: medium;

}
.p1 {
    font-family: Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Lucida Console", "Courier New", monospace;
    
}

.align-br {
    position: fixed;

    bottom: 0px;
    right: 0px;
}

.pad-1 {
    padding: 1em;
}