:root {
    --background: FFFFFF;
}

html,
title{
    border-style: double;
    border-radius: 2px;
    border-color: blueviolet;
    font-size: medium;

}
.p1 {
    font-family: Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Lucida Console", "Courier New", monospace;
    
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCPsUY4AMdvqqHHqd-gVqdNYQsOgEIETXJWCeW2FxdOuNx2ax5MJHtXPMdXm0:https://cdn-icons-png.flaticon.com/512/109/109617.png&s");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}